body {
  background-color: #2b2b2b;
  margin: 5%;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  background-color: #2b2b2b
  text-color:#FFFFFF;
}
.row {
  display: flex;
}

.column,
.columns {
  margin-left: 0.5%;

.pretty {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.flex-display {
  display: flex;
}
.container-display {
  display: flex;
  height: 50px;
}

.mini {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 10px;
  padding: 15px;
  height: 15%;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
 }





